.module-title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 12px; 
    margin-top: 12px; 
}

.daily-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.daily-wrap .box-daily{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    border-radius: 5px;
    flex-grow: 1;
     box-sizing: inherit; 
     margin-left: 38px;
     line-height: 1.6em; 
     padding: 15px; 
     background-color: white;
}
.daily-wrap .box-daily:nth-child(1){
    margin-left: 0;
}

.daily-card-nfl-header {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: #1f1f1f;
    background-color: #fff;
    padding: 16px 14px 14px 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 2px;
}

.condition-daily-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.daily-card-nfl-header .date {
    min-width: 52px;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}

.daily-card-nfl-header .date .sub {
    color: #0097e6;
    font-weight: 700;
    font-size: 25px;
}

.daily-card-nfl-header .date span {
    display: block;
}

.daily-card-nfl-header .icon {
    width: 140px;
    height: 100%;
    margin-right: 8px;
}

.daily-card-nfl-header .temp {
    white-space: nowrap;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
}

.condition-text{
    color: #0097e6;
    font-weight: bold;
    font-size: 20px;
}

.daily-card-nfl-header .phrase {
    display: none;
    font-size: 18px;
    line-height: 1.22;
}

.daily-card-nfl-header .precip {
    font-size: 20px;
    font-weight: 700;
    color: #878787;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 15px 0;
    width: 50px;
    -webkit-box-pack: center;
    justify-content: center;
}

.daily-card-nfl-header .arrow {
    fill: #000;
}

.icon-chevron {
    transition: transform .2s;
}

.temp .low {
    font-size: 20px;
    color: #878787;
    line-height: 1.2;
}

.temp .high {
    font-size: 26px;
    line-height: 1.08;
    font-weight: 500;
    letter-spacing: 1px;
}

.precip img {
    height: 24px;
    margin-right: 6px;
}

.fa-arrow-right{
    cursor: pointer;
}
.modalDaily{
    width: 80%;
}
.view-daily-detail-btn{
    margin: 10px 0;
    border:none;
    background-color: #1e90ff ;
    color: white;
    border-radius: 14px;
    padding: 10px 20px;
}
.view-daily-detail-btn i{
    color: white;
    margin-left: 4px;
}

// .weather-icon{
//     width: 150px;
//     height: 100%;
// }