.navbar {
    background-color: #2f3542; /* Dành cho các trình duyệt không hỗ trợ gradient*/
    background-image: linear-gradient(to top right, #2f3542, #718093); 
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
   
.login-fb-wrap{
  text-align: center;
}
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 75%;
    margin: auto;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    // margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    // margin-right: 2rem;
  }
  
  .nav-item {
    height: 80px;
  }
 
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  .nav-links i{
    margin-right: 8px;
    font-size: 18px;
  }
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  // .btn_submit{
  //   padding: 10px 75px;
  //   border-radius: 23px;
  //   font-size: 20px;
  //   width: 80%;
  //   margin:auto;
  //   box-shadow: white 0px 7px 29px 0px;
  // }
  // .form-group{
  //   font-size: 25px;
  //   display: flex;
  //   text-align: center;
  //   align-items: center;
  // }
//   .form-login-wrap{
//     display: flex;
//     flex-direction: column;
// }

  // .input-item{
  //   padding-left: 20px;
  //   width: 80% !important;
  //   margin: auto;
  //   border-radius: 23px;
  //   background-color: #f1f2f6 !important;
  // }
  // .error-text{
  //   color: red;
  //   margin-top: 8px;
  // }
  @media screen and (max-width: 420px) {
    .navbar-logo div span{
      font-size: 20px;
    }
    .navbar-logo{
      margin-left: -50px;
    }
  }
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
    
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
   
    
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
 
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }
  .wrap-user-login{
    align-items: center;
   
  }
  .wrap-user-login i{
    margin-bottom: 2px;
  }
  .wrap-user-login span{
    color: white;
    margin-left: 10px;
  }
  .my-facebook-button-class-blue{
    background-color: #1B9CFC ;
    color: white;
    padding:10px 40px;
    border: none;
    
  }